<div class="container">
    <form action="">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-input">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-input">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-input">
        </div>
        <input type="button" value="login" class="login-btn">
    </form>
</div>

